body{
    font-family: 'Getu', Arial, Helvetica, sans-serif;
    margin: 0;
}

.categorytitle{
    text-align: center;
}

.whitebox{
    width: 100%;
    border: 0 solid black

}

#slide1 {
    background: url(assets/img/parallax1.jpg) center 0 no-repeat fixed;
    min-height: 300px;
    box-shadow: inset;
 }
 
 #slide2 {
    background: url(assets/img/parallax2.jpg) center 0 no-repeat fixed;
    min-height: 300px;
    box-shadow: inset;
 }
 
 #slide3 {
    background: url(assets/img/parallax3.jpg) center 0 no-repeat fixed;
    min-height: 300px;
    box-shadow: inset;
 }

 #headerimg{
     background: url(assets/img/header.jpg) no-repeat top center;
     height: 500px;

 }

 #name{
     text-align: center;
     text-shadow: black 3px;
     font-family: 'Gotu', Arial, Helvetica, sans-serif;
 }
 
 #jobtitle{
     text-align: right;
     text-shadow: black 2px;
 }